streamlit
google-generativeai
python-dotenv
pysqlite3-binary
langchain
PyPDF2
langchain-community
chromadb
faiss-cpu
langchain_google_genai
sentence_transformers
gunicorn
langchain_text_splitters
langchain_chroma
